#!/usr/bin/make -f

%:
	dh $@ --with translations

override_dh_missing:
	dh_missing --fail-missing

override_dh_installsystemd:
	dh_installsystemd -pubuntu-rockchip-settings-desktop --name=mkswap mkswap.service
	dh_installsystemd -pubuntu-rockchip-settings-desktop --name=swapfile swapfile.swap

override_dh_installgsettings:
	dh_installgsettings -pubuntu-rockchip-settings --priority 15
	dh_installgsettings --remaining-packages
